---
layout: layout.njk
title: Correspondence
---

<h1>Correspondence</h1>


You can reach me on the following social media:
<ul>
  <li>Linkedin: <a href=https://www.linkedin.com/in/amadeus-dabela/>Profile</a></li>
  <li>Discord: @data.baseado</li>
  <li>Instagram: <a href=https://www.instagram.com/berewizard/>@berewizard</a></li>
</ul>
