---
layout: layout.njk
title: Opera
---
<h1>Opera</h1>

<p>Some projects to show off my coding skills. For a while, they have only one section of web related projects</p>

<h2> Web related</h2>
<ul>
    <li> 
        <a href=https://github.com/oransje/js-mars-rovers>Mars Rovers</a>: 
            <p>An implemenation of Mars Rovers problem using a Parser approach. Made using only nodejs and mocha for testing.</p> 
    </li>
</ul>

